.slick-initialized .slick-slide {
  height: 700px;
  background-color: rgb(40, 40, 40);
  display: flex !important;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.slick-next,
.slick-prev {
  display: none !important;
}

.slick-dots li button:before {
  font-size: 12px;
  position: relative;
  top: -40px;
  color: #ffffff !important;
}

.headerHero {
  width: 800px !important;
  display: flex !important;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.headerHero h1 {
  text-align: center;
  font-family: "outfit", sans-serif;
  color: #fff;
  font-size: 64px;
}

.headerHero p {
  text-align: center;
  font-family: "outfit", sans-serif;
  color: #fff;
  font-size: 24px;
}

.heroBtn {
  padding: 15px 30px;
  font-family: "outfit", sans-serif;
  background-color: #8b4d07;
  color: #ffffff;
  font-size: 18px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
