.growthContain {
  background-color: #ffffff;
  width: 70%;
  margin: auto;
  display: flex;
  gap: 40px;
  padding: 100px 0px;
}

.growthText {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.growthText h1 {
  font-family: "Outfit", sans-serif;
  font-size: 50px;
  color: #8b4d07;
}

.growthText p {
  color: #222;
  font-family: "Outfit", sans-serif;
  font-size: 19px;
}

.growthImg img {
  width: 80%;
  border-radius: 8px;
}

.growthBtn {
  width: 200px;
  text-align: center;
  padding: 15px 30px;
  font-family: "Outfit", sans-serif;
  background-color: #8b4d07;
  color: #ffffff;
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.counter {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
}

.firstCount {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.firstCount h1 {
  font-family: "outfit", sans-serif;
  font-size: 55px;
  color: #8b4d07;
}

.firstCount h2 {
  font-family: "outfit", sans-serif;
  font-size: 20px;
  color: #222;
  font-weight: 400;
}

.count1 {
  display: flex;
  gap: 20px;
}
